### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [613]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [614]:
#Calculate the total number of schools
total_schools=school_data["School ID"].count()
total_schools

15

In [615]:
# Calculate the total number of students
total_students=student_data["Student ID"].count()
total_students

39170

In [616]:
# Calculate the total budget
# school_data["budget"]=school_data["budget"].map("${:.2f}".format)
total_budget=school_data["budget"].sum()
total_budget

24649428

In [617]:
# Calculate the average math score
math_ave=round(school_data_complete["math_score"].mean(),6)
math_ave

78.985371

In [618]:
# Calculate the average reading score
reading_ave=round(school_data_complete["reading_score"].mean(),6)
reading_ave

81.87784

In [619]:
# Calculate the percentage of students with a passing math score (70 or greater)
# stu_pass_math=school_data_complete.loc[school_data_complete["math_score"]>=70,:]
# stu_pass_math_per=round((stu_pass_math["Student ID"].count()/total_students)*100,6)
# stu_pass_math_per
stu_pass_math=student_data["math_score"]>=70
stu_pass_math_perce=round((stu_pass_math.mean())*100,6)
stu_pass_math_per

74.980853

In [620]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# stu_pass_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
# stu_pass_reading_per=round((stu_pass_reading["Student ID"].count()/total_students)*100,6)
# stu_pass_reading_per
stu_pass_reading=student_data["reading_score"]>=70
stu_pass_reading_per=round((stu_pass_reading.mean())*100,6)
stu_pass_reading_per

85.805463

In [621]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# stu_pass_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
# stu_pass_read_math=stu_pass_reading.loc[stu_pass_reading["math_score"]>=70,:]
# stu_pass_read_math_per=round((stu_pass_read_math["Student ID"].count()/total_students)*100,6)
stu_pass_read_math=(student_data["reading_score"]>=70)&(student_data["math_score"]>=70)
stu_pass_read_math_per=round((stu_pass_read_math.mean())*100,6)
stu_pass_read_math_per

65.172326

In [622]:
# Create a dataframe to hold the above results
data_result={"Total Schools":[total_schools],
             "Total Students":[total_students],
             "Total Budget":[total_budget],
             "Average Math Score":[math_ave],
             "Average Reading Score":[reading_ave],
             "% Passing Math":[stu_pass_math_per],
             "% Passing Reading":[stu_pass_reading_per],
             "% Overall Passing":[stu_pass_read_math_per] 
}

overall_df=pd.DataFrame(data_result)
overall_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [623]:
# Optional: give the displayed data cleaner formatting

overall_df["Total Students"]=overall_df["Total Students"].map("{:,}".format)
overall_df["Total Budget"]=overall_df["Total Budget"].map("${:,.2f}".format)
overall_df["% Passing Math"]=overall_df["% Passing Math"].map("{:,.2f}%".format)
overall_df["% Passing Reading"]=overall_df["% Passing Reading"].map("{:,.2f}%".format)
overall_df["% Overall Passing"]=overall_df["% Overall Passing"].map("{:,.2f}%".format)

overall_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [624]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
school_summary=school_data_complete.groupby(["school_name","type"]).mean()

school_summary

,,Student ID,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,District,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,Charter,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,Charter,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,Charter,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [625]:
# Total Student
# school_summary["Total Student"]=school_data_complete["school_name"].value_counts().values
# school_summary
school_summary["Total Student"]=school_data_complete.groupby(["school_name","type"]).count()["Student ID"]
school_summary.head()

,,Student ID,reading_score,math_score,School ID,size,budget,Total Student
school_name,type,,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,4976
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,1858
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,2949
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,2739
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,1468

In [626]:
# Total Budget
school_summary["Total School Budget"]=school_summary["budget"]
school_summary["Total School Budget"]=school_summary["Total School Budget"].map("${:,.2f}".format)
# Per Student Budget
school_summary["Per Student Budget"]=school_summary["budget"]/school_summary["size"]
school_summary["Per Student Budget"]=school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary

,,Student ID,reading_score,math_score,School ID,size,budget,Total Student,Total School Budget,Per Student Budget
school_name,type,,,,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,4976,"$3,124,928.00",$628.00
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,1858,"$1,081,356.00",$582.00
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,2949,"$1,884,411.00",$639.00
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,2739,"$1,763,916.00",$644.00
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,1468,"$917,500.00",$625.00
Hernandez High School,District,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,4635,"$3,022,020.00",$652.00
Holden High School,Charter,23060.0,83.814988,83.803279,8.0,427.0,248087.0,427,"$248,087.00",$581.00
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,2917,"$1,910,635.00",$655.00
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,4761,"$3,094,650.00",$650.00
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0,962,"$585,858.00",$609.00
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,3999,"$2,547,363.00",$637.00
Shelton High School,Charter,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,1761,"$1,056,600.00",$600.00
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,1635,"$1,043,130.00",$638.00
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,2283,"$1,319,574.00",$578.00
Wright High School,Charter,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,1800,"$1,049,400.00",$583.00

In [627]:
# Average Math Score
school_summary["Average Math Score"]=school_summary["math_score"]
del school_summary["math_score"]
# Average Reading Score
school_summary["Average Reading Score"]=school_summary["reading_score"]
del school_summary["reading_score"]
school_summary

,,Student ID,School ID,size,budget,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,type,,,,,,,,,
Bailey High School,District,20358.5,7.0,4976.0,3124928.0,4976,"$3,124,928.00",$628.00,77.048432,81.033963
Cabrera High School,Charter,16941.5,6.0,1858.0,1081356.0,1858,"$1,081,356.00",$582.00,83.061895,83.975780
Figueroa High School,District,4391.0,1.0,2949.0,1884411.0,2949,"$1,884,411.00",$639.00,76.711767,81.158020
Ford High School,District,36165.0,13.0,2739.0,1763916.0,2739,"$1,763,916.00",$644.00,77.102592,80.746258
Griffin High School,Charter,12995.5,4.0,1468.0,917500.0,1468,"$917,500.00",$625.00,83.351499,83.816757
Hernandez High School,District,9944.0,3.0,4635.0,3022020.0,4635,"$3,022,020.00",$652.00,77.289752,80.934412
Holden High School,Charter,23060.0,8.0,427.0,248087.0,427,"$248,087.00",$581.00,83.803279,83.814988
Huang High School,District,1458.0,0.0,2917.0,1910635.0,2917,"$1,910,635.00",$655.00,76.629414,81.182722
Johnson High School,District,32415.0,12.0,4761.0,3094650.0,4761,"$3,094,650.00",$650.00,77.072464,80.966394
Pena High School,Charter,23754.5,9.0,962.0,585858.0,962,"$585,858.00",$609.00,83.839917,84.044699
Rodriguez High School,District,28035.0,11.0,3999.0,2547363.0,3999,"$2,547,363.00",$637.00,76.842711,80.744686
Shelton High School,Charter,6746.0,2.0,1761.0,1056600.0,1761,"$1,056,600.00",$600.00,83.359455,83.725724
Thomas High School,Charter,38352.0,14.0,1635.0,1043130.0,1635,"$1,043,130.00",$638.00,83.418349,83.848930
Wilson High School,Charter,14871.0,5.0,2283.0,1319574.0,2283,"$1,319,574.00",$578.00,83.274201,83.989488
Wright High School,Charter,25135.5,10.0,1800.0,1049400.0,1800,"$1,049,400.00",$583.00,83.682222,83.955000

In [628]:
# %Passing Math
pass_math=school_data_complete.loc[school_data_complete["math_score"]>=70]

school_summary["Pass Math student"]=pass_math.groupby(["school_name","type"]).count()["Student ID"]
school_summary["Pass Math student"]=round((school_summary["Pass Math student"]/school_summary["Total Student"])*100,4)
school_summary

,,Student ID,School ID,size,budget,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Pass Math student
school_name,type,,,,,,,,,,
Bailey High School,District,20358.5,7.0,4976.0,3124928.0,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.6801
Cabrera High School,Charter,16941.5,6.0,1858.0,1081356.0,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1335
Figueroa High School,District,4391.0,1.0,2949.0,1884411.0,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.9885
Ford High School,District,36165.0,13.0,2739.0,1763916.0,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3096
Griffin High School,Charter,12995.5,4.0,1468.0,917500.0,1468,"$917,500.00",$625.00,83.351499,83.816757,93.3924
Hernandez High School,District,9944.0,3.0,4635.0,3022020.0,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.7530
Holden High School,Charter,23060.0,8.0,427.0,248087.0,427,"$248,087.00",$581.00,83.803279,83.814988,92.5059
Huang High School,District,1458.0,0.0,2917.0,1910635.0,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.6839
Johnson High School,District,32415.0,12.0,4761.0,3094650.0,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.0576
Pena High School,Charter,23754.5,9.0,962.0,585858.0,962,"$585,858.00",$609.00,83.839917,84.044699,94.5946
Rodriguez High School,District,28035.0,11.0,3999.0,2547363.0,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.3666
Shelton High School,Charter,6746.0,2.0,1761.0,1056600.0,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.8671
Thomas High School,Charter,38352.0,14.0,1635.0,1043130.0,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.2722
Wilson High School,Charter,14871.0,5.0,2283.0,1319574.0,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.8677
Wright High School,Charter,25135.5,10.0,1800.0,1049400.0,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.3333

In [629]:
# %Passing Reading
pass_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70]

school_summary["Pass Reading student"]=pass_reading.groupby(["school_name","type"]).count()["Student ID"]
school_summary["Pass Reading student"]=round((school_summary["Pass Reading student"]/school_summary["Total Student"])*100,4)
school_summary

,,Student ID,School ID,size,budget,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Pass Math student,Pass Reading student
school_name,type,,,,,,,,,,,
Bailey High School,District,20358.5,7.0,4976.0,3124928.0,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.6801,81.9333
Cabrera High School,Charter,16941.5,6.0,1858.0,1081356.0,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1335,97.0398
Figueroa High School,District,4391.0,1.0,2949.0,1884411.0,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.9885,80.7392
Ford High School,District,36165.0,13.0,2739.0,1763916.0,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3096,79.2990
Griffin High School,Charter,12995.5,4.0,1468.0,917500.0,1468,"$917,500.00",$625.00,83.351499,83.816757,93.3924,97.1390
Hernandez High School,District,9944.0,3.0,4635.0,3022020.0,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.7530,80.8630
Holden High School,Charter,23060.0,8.0,427.0,248087.0,427,"$248,087.00",$581.00,83.803279,83.814988,92.5059,96.2529
Huang High School,District,1458.0,0.0,2917.0,1910635.0,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.6839,81.3164
Johnson High School,District,32415.0,12.0,4761.0,3094650.0,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.0576,81.2224
Pena High School,Charter,23754.5,9.0,962.0,585858.0,962,"$585,858.00",$609.00,83.839917,84.044699,94.5946,95.9459
Rodriguez High School,District,28035.0,11.0,3999.0,2547363.0,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.3666,80.2201
Shelton High School,Charter,6746.0,2.0,1761.0,1056600.0,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.8671,95.8546
Thomas High School,Charter,38352.0,14.0,1635.0,1043130.0,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.2722,97.3089
Wilson High School,Charter,14871.0,5.0,2283.0,1319574.0,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.8677,96.5396
Wright High School,Charter,25135.5,10.0,1800.0,1049400.0,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.3333,96.6111

In [630]:
# % Overall Passing (The percentage of students that passed math and reading.)
pass_reading_math=school_data_complete.loc[(school_data_complete["reading_score"]>=70)&(school_data_complete["math_score"]>=70)]

school_summary["Overall Passing"]=pass_reading_math.groupby(["school_name","type"]).count()["Student ID"]
school_summary["Overall Passing"]=round((school_summary["Overall Passing"]/school_summary["Total Student"])*100,4)
school_summary

,,Student ID,School ID,size,budget,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Pass Math student,Pass Reading student,Overall Passing
school_name,type,,,,,,,,,,,,
Bailey High School,District,20358.5,7.0,4976.0,3124928.0,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.6801,81.9333,54.6423
Cabrera High School,Charter,16941.5,6.0,1858.0,1081356.0,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1335,97.0398,91.3348
Figueroa High School,District,4391.0,1.0,2949.0,1884411.0,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.9885,80.7392,53.2045
Ford High School,District,36165.0,13.0,2739.0,1763916.0,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3096,79.2990,54.2899
Griffin High School,Charter,12995.5,4.0,1468.0,917500.0,1468,"$917,500.00",$625.00,83.351499,83.816757,93.3924,97.1390,90.5995
Hernandez High School,District,9944.0,3.0,4635.0,3022020.0,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.7530,80.8630,53.5275
Holden High School,Charter,23060.0,8.0,427.0,248087.0,427,"$248,087.00",$581.00,83.803279,83.814988,92.5059,96.2529,89.2272
Huang High School,District,1458.0,0.0,2917.0,1910635.0,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.6839,81.3164,53.5139
Johnson High School,District,32415.0,12.0,4761.0,3094650.0,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.0576,81.2224,53.5392
Pena High School,Charter,23754.5,9.0,962.0,585858.0,962,"$585,858.00",$609.00,83.839917,84.044699,94.5946,95.9459,90.5405
Rodriguez High School,District,28035.0,11.0,3999.0,2547363.0,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.3666,80.2201,52.9882
Shelton High School,Charter,6746.0,2.0,1761.0,1056600.0,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.8671,95.8546,89.8921
Thomas High School,Charter,38352.0,14.0,1635.0,1043130.0,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.2722,97.3089,90.9480
Wilson High School,Charter,14871.0,5.0,2283.0,1319574.0,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.8677,96.5396,90.5826
Wright High School,Charter,25135.5,10.0,1800.0,1049400.0,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.3333,96.6111,90.3333

In [631]:
School_name=school_summary.index.get_level_values(0)
school_type=school_summary.index.get_level_values(1)
school_summary_result={"School Name":School_name,
                      "School Type":school_type,
                      "Total Students":school_summary["Total Student"],
                      "Total School Budget":school_summary["Total School Budget"],
                      "Per Student Budget":school_summary["Per Student Budget"],
                      "Average Math Score":school_summary["Average Math Score"],
                      "Average Reading Score":school_summary["Average Reading Score"],
                      "% Passing Math":school_summary["Pass Math student"],
                      "% Passing Reading":school_summary["Pass Reading student"],
                      "% Overall Passing":school_summary["Overall Passing"]
    
}
school_summary_df=pd.DataFrame(school_summary_result)
school_summary_df=school_summary_df.reset_index(drop=True)
school_summary_df=school_summary_df.set_index("School Name")
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.6801,81.9333,54.6423
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1335,97.0398,91.3348
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.9885,80.7392,53.2045
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3096,79.2990,54.2899
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.3924,97.1390,90.5995
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.7530,80.8630,53.5275
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.5059,96.2529,89.2272
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.6839,81.3164,53.5139
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.0576,81.2224,53.5392
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.5946,95.9459,90.5405
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.3666,80.2201,52.9882
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.8671,95.8546,89.8921
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.2722,97.3089,90.9480
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.8677,96.5396,90.5826
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.3333,96.6111,90.3333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [632]:
top_performing_schools=school_summary_df.sort_values("% Overall Passing",ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1335,97.0398,91.3348
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.2722,97.3089,90.9480
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.3924,97.1390,90.5995
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.8677,96.5396,90.5826
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.5946,95.9459,90.5405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [633]:
bottom_performing_schools=school_summary_df.sort_values("% Overall Passing",ascending=True)
bottom_performing_schools.head()
# 2nd Way
# bottom_performing_schools=school_summary_df.sort_values("% Overall Passing",ascending=False)
# bottom_performing_schools.tail()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.3666,80.2201,52.9882
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.9885,80.7392,53.2045
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.6839,81.3164,53.5139
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.7530,80.8630,53.5275
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.0576,81.2224,53.5392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [634]:
nineth_grade_math=student_data[student_data["grade"]=="9th"].groupby(["school_name"]).mean()["math_score"]
tenth_grade_math=student_data[student_data["grade"]=="10th"].groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math=student_data[student_data["grade"]=="11th"].groupby(["school_name"]).mean()["math_score"]
twelveth_grade_math=student_data[student_data["grade"]=="12th"].groupby(["school_name"]).mean()["math_score"]
grade_math_results={"9th":nineth_grade_math,
                    "10th":tenth_grade_math,
                    "11th":eleventh_grade_math,
                    "12th":twelveth_grade_math
}
grade_math_df=pd.DataFrame(grade_math_results)
grade_math_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [635]:
nineth_grade_reading=student_data[student_data["grade"]=="9th"].groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading=student_data[student_data["grade"]=="10th"].groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading=student_data[student_data["grade"]=="11th"].groupby(["school_name"]).mean()["reading_score"]
twelveth_grade_reading=student_data[student_data["grade"]=="12th"].groupby(["school_name"]).mean()["reading_score"]
grade_reading_results={"9th":nineth_grade_reading,
                    "10th":tenth_grade_reading,
                    "11th":eleventh_grade_reading,
                    "12th":twelveth_grade_reading
}
grade_reading_df=pd.DataFrame(grade_reading_results)
grade_reading_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [603]:
range_bins=[0,585,615,645,675]
group_spending=["<584","$585-629","$630-644","$645-675"]

In [604]:
school_data_complete["Spending Ranges (Per Student)"]=pd.cut(school_data_complete["budget"], range_bins,labels=group_spending)
school_summary

,Average Math Score,Average Reading Score,Pass Math student,Pass Reading student,Overall Passing
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550250,96.099400,89.883850
Medium(1000-2000),83.374684,83.864438,93.599700,96.790680,90.621540
Large(2000-5000),77.746417,81.344493,69.963375,82.766625,58.286013

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

In [636]:
bins=[0,1000,2000,5000]
group_names=["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]

In [637]:
school_summary["School Size"]=pd.cut(school_summary["size"],bins, labels=group_names,include_lowest=False)
school_summary
# school_data_complete

,,Student ID,School ID,size,budget,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Pass Math student,Pass Reading student,Overall Passing,School Size
school_name,type,,,,,,,,,,,,,
Bailey High School,District,20358.5,7.0,4976.0,3124928.0,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.6801,81.9333,54.6423,Large(2000-5000)
Cabrera High School,Charter,16941.5,6.0,1858.0,1081356.0,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1335,97.0398,91.3348,Medium(1000-2000)
Figueroa High School,District,4391.0,1.0,2949.0,1884411.0,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.9885,80.7392,53.2045,Large(2000-5000)
Ford High School,District,36165.0,13.0,2739.0,1763916.0,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3096,79.2990,54.2899,Large(2000-5000)
Griffin High School,Charter,12995.5,4.0,1468.0,917500.0,1468,"$917,500.00",$625.00,83.351499,83.816757,93.3924,97.1390,90.5995,Medium(1000-2000)
Hernandez High School,District,9944.0,3.0,4635.0,3022020.0,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.7530,80.8630,53.5275,Large(2000-5000)
Holden High School,Charter,23060.0,8.0,427.0,248087.0,427,"$248,087.00",$581.00,83.803279,83.814988,92.5059,96.2529,89.2272,Small(<1000)
Huang High School,District,1458.0,0.0,2917.0,1910635.0,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.6839,81.3164,53.5139,Large(2000-5000)
Johnson High School,District,32415.0,12.0,4761.0,3094650.0,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.0576,81.2224,53.5392,Large(2000-5000)
Pena High School,Charter,23754.5,9.0,962.0,585858.0,962,"$585,858.00",$609.00,83.839917,84.044699,94.5946,95.9459,90.5405,Small(<1000)
Rodriguez High School,District,28035.0,11.0,3999.0,2547363.0,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.3666,80.2201,52.9882,Large(2000-5000)
Shelton High School,Charter,6746.0,2.0,1761.0,1056600.0,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.8671,95.8546,89.8921,Medium(1000-2000)
Thomas High School,Charter,38352.0,14.0,1635.0,1043130.0,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.2722,97.3089,90.9480,Medium(1000-2000)
Wilson High School,Charter,14871.0,5.0,2283.0,1319574.0,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.8677,96.5396,90.5826,Large(2000-5000)
Wright High School,Charter,25135.5,10.0,1800.0,1049400.0,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.3333,96.6111,90.3333,Medium(1000-2000)

In [638]:
school_summary=school_summary.groupby(["School Size"]).mean()
del school_summary["Student ID"]
del school_summary["School ID"]
del school_summary["size"]
del school_summary["budget"]
del school_summary["Total Student"]
school_summary

,Average Math Score,Average Reading Score,Pass Math student,Pass Reading student,Overall Passing
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550250,96.099400,89.883850
Medium(1000-2000),83.374684,83.864438,93.599700,96.790680,90.621540
Large(2000-5000),77.746417,81.344493,69.963375,82.766625,58.286013

## Scores by School Type

* Perform the same operations as above, based on school type

In [640]:
del school_summary_df["Total Students"]
school_summary_df.groupby(["School Type"]).mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620837,96.586475,90.432250
District,76.956733,80.966636,66.548471,80.799057,53.672214